{{ partial "head/head" . }}
{{ partial "header.html" . }}

<div class="container">
  <main>
    <h1>{{ .Title }}</h1>
    <div>
      {{ .Content }}
    </div>
  </main>
</div>

{{ partial "footer.html" . }}
