/* Acervo */

.acervo {
    display: flex;

    section li {
        font-size: 0.8rem;
    }
}

.descricao p {
    font-size: 0.8rem;
    font-weight: 400;
}

.links-relacionados ul,
.pdf ul {
    list-style-type: none;
}

.links-relacionados h3 {
    text-transform: uppercase;
}

.logo {
    text-align: center;
}


.lista-acervo {
    display: grid;
    row-gap: 3%;

    .item {

      border: 0;
      padding: 10px;
      text-align: left;
    }
}

.saiba-mais {
    border: 1px solid gray;
}

.saiba-mais,
.links-relacionados > a {
    border-radius: .35rem;
    margin: 0 0 0 -5px;
    font-weight: 400;
    font-size: 0.8rem;
    padding: .5rem;
    color: #919480;

    &:hover {
        color: var(--heading-color);
        text-decoration-line: underline;

    }
}

.saiba-mais h3 {
    margin-top: 0;
}

.icone {
    width: 20px;
    height: 20px;
    margin: auto;
}

.icone use {
    fill: var(--heading-color);
}

.icone .camera {
    fill: var(--heading-color);
}

.icone .documento {
    fill: var(--heading-color);;
}

.icone .link{
    fill: #var(--heading-color);
}

.icone .download {}
