/* Footer */

.footer {
    padding: 2rem 0;

    >.flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 30px;
        width: 30px;
    }

    a {

        font-weight: 400;
        color: var(--light-font-color);

        &:hover {
            color: var(--heading-color);
            background: var(--light-background);
        }

        &.img {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0 0.75rem;
            background: none;
        }
    }
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex nav {
    padding: 1rem 0;
    font-weight: 400;
    font-size: 0.80rem;
}

@media screen and (min-width: 800px) {
    .footer {
        >.flex {
            align-items: flex-start;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        a {
            padding: 0.75rem;

            &.img {
                padding: 0 0.5rem;
                margin: 0 1rem;
            }
        }
    }

}

@media print {
    .footer {
        display: none;
    }
}
