.pagination {
    display: flex;

    .prev-page, .next-page {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
    }

    .next-page {
        justify-content: flex-end;
    }

    a {
        border-radius: 0.35rem;
        padding: 0.75rem 1.25rem;
        margin: 0 0.25rem;
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--font-color);

        &:hover, &[aria-current='page'] {
            background: var(--light-background);
            color: var(--dark-font-color);
        }
    }
}
