/* Tags */

.count {
    font-weight: 700;
    color: var(--link-color);
}

.tags {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    >a {
        display: block;
        font-weight: 400;
        color: var(--font-color);
        margin: 0.2rem;
        padding: 0.5rem 0.6rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border-bottom: 0;
        white-space: nowrap;
        line-height: 1;

        &:hover {
            background: var(--light-background);
            color: var(--heading-color);
        }
    }
}

mark {
    background: #ffec99;
}

.utterances {
    margin-left: -4px;
    margin-right: -4px;
}

kbd {
    background-color: #f7f7f7;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 2px #fff;
    color: #333;
    display: inline-block;
    font-family: Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont,
        Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
}

#comments {
    margin-top: 3rem;
}

#comments h2 {
    margin: 0;
}

@media print {

    .comments,
    #comments {
        display: none;
    }
}
