/* Headings */

h1 {
    color: var(--h1-color);
}

h3,
h4 {
    color: #575336;


}

h2,
h5 {
    color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
    margin-top: 3rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.5rem;
    border-bottom: 10px solid var(--light-background);

    code {
        font-size: 1.75rem !important;
    }
}

h3 {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 1rem;

    code {
        font-size: 1.4rem !important;
    }
}

h4 {
    font-size: 1.3rem;
    color: var(--font-color);
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--light-background);
    padding-bottom: 0.25rem;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.9rem;

        code {
            font-size: 1.9rem !important;
        }
    }

    h3 {
        font-size: 1.3rem;
        color: var(--font-color);
        font-weight: 900;

        code {
            font-size: 1.6rem !important;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 1.4rem;
    }
}

a {
    &.link {
        display: block;
        padding: 0.25rem 0;
        margin: 0.25rem 0;
        border-radius: 0.35rem;
        font-weight: 600;
        color: var(--dark-font-color);

        &:hover {
            color: var(--link-color);
        }
    }

    &.button {
        display: inline-block;
        border: 2px solid var(--link-color);
        padding: 0.3rem 0.6rem;
        margin-right: 0.75rem;
        font-weight: 500;
        background: var(--link-color);
        color: white;
        border-radius: 0.35rem;
        font-size: 0.9rem;

        &.large {
            padding: 0.8rem 1rem;
            font-size: 1.05rem;
        }

        &.secondary {
            border: 2px solid #edf2ff;
            background: #edf2ff;
            color: #3b5bdb;
        }

        &:hover, &.secondary:hover {
            border: 2px solid var(--link-color-darker);
            background: var(--link-color-darker);
            color: white;
        }
    }
}

@media screen and (min-width: 800px) {
    a.button {
        font-size: 0.9rem;

        &.large {
            padding: 1rem 1.5rem;
            font-size: 1.1rem;
        }
    }
}

p.subtitle {
    color: var(--medium-font-color);
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0;
}

@media screen and (min-width: 800px) {
    p.subtitle {
        font-size: 1.5rem;
    }
}
