:root {
    --color-mode: light;
    --h1-color: #343a40;
    --font-color: #495057;
    --heading-color: #343a40;
    --background: #F2F6D5;
    --dark-font-color: #1b1d25;
    --medium-font-color: #60656c;
    --light-font-color: #858b93;
    --light-background: #daddc0;
    --light-background-hover: #daddc0;
    --border: #d6d9de;
    --link-color: #5183f5;
    --link-color-darker: #364fc7;
    --navbar-color: #1b1d25;
    --blockquote: #f9f9f9;
    --blockquote-left: #e3e6eb;
    --transparent-text: rgba(0, 0, 0, 0.7);
    --transparent-bg: rgba(0, 0, 0, 0.05);
    --light-transparent-bg: rgba(255, 255, 255, 0.1);
}
