<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head/head" . }}
    {{ partial "head/colorScheme" . }}

    <body class="dark">
        {{ partial "header.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
        
    </body>
</html>
